[Desktop Entry]
Version=1.0
Type=Application
Name=USAGI
Comment=A simple hello world script
Exec=/home/motii/test.sh
Icon=/home/motii/multi_thread_iced/icon.png
Terminal=true
